*
{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.navbar {
    background-color: #333132;
    font-size: 12pt;
    padding-left: 20px;
    position: fixed;
    z-index: 350;
    width: 100%
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: palegoldenrod;
}

.navbar-brand {
    color: palegoldenrod;
    font-family: 'Prata', serif;
    font-size: 15pt;
    padding: -3px;
}

.navbar-brand:hover {
    color: white;
}

.leftSide, .rightSide {
    margin-top: 55px;
    height: 50vh;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .leftSide, .rightSide {
        height: 100vh;
    }
}

.leftSide {
    background-image: url('./images/Marble.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rightSide {
    background-color: #cdd2e3;
    color: #383835;
}

.name {
    font-size: 45px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    color: black;
    font-family: 'Alice', serif;
}

.rightSide, .title {
    font-size: 25px;
    font-family: 'Alice', serif;
}

.aboutMe {
    background-color: #333132;
    color: white;
    padding: 20px;
}

#aboutMeHeader {
    padding: 20px;
    font-family: 'Prata', serif;
}

#appsHeader {
    font-family: 'Prata', serif;
}

.sectionHeader {
    margin: 33px;
    font-family: 'Prata', serif;
}

.proPic {
    height: 300px;
    width: 305px;
}

.description {
    font-size: 19px;
}

.projects {
    background-color: #cdd2e3;
    color: black;
    padding: 40px;
}

.btn {
    opacity: .7;
}

.btn:hover {
    opacity: 1;
}

.card-img-top {
    height: 285px;
    width: 100%;
}

.card-header {
    padding-top: 25px;
}

.skills {
    background-color: #333132;
    color: white;
    padding: 10px;
}

#skillsHeader {
    font-family: 'Prata', serif;
    padding-top: 5px;
    padding: 30px;
}

i {
    padding: 12px;
}

.contact {
    background-color: #cdd2e3;
    color: black;
}

#contactHeader {
    font-family: 'Prata', serif;
    padding-top: 35px;
    padding-bottom: 10px;
}

.footer {
    background-color:#333132;
    color: white;
    font-family: 'Prata', serif;

}

.logo {
    color: #333132;
}

.logo:hover {
    color: white;
}

