*
{
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
}

.leftSide, .rightSide {
    height: 50vh;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .leftSide, .rightSide {
        height: 100vh;
    }
}

.leftSide {
    background-image: url('./images/IMG_1525_copy.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
